Source: intelhex
Section: python
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
 python-all, python-setuptools
Standards-Version: 4.0.0
Homepage: https://github.com/bialix/intelhex
X-Python3-Version: >= 2.6
Vcs-Git: https://github.com/Linaro/pkg-intelhex.git
Vcs-Browser: https://github.com/Linaro/pkg-intelhex

Package: python-intelhex
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Python support for Intel HEX
 The Intel HEX file format is widely used in the microprocessors
 and microcontrollers area as the de facto standard for code
 representation for microelectronic devices programming.
 .
 This package implements an intelhex Python library to read, write,
 create from scratch and manipulate data from HEX (also known as
 Intel HEX) file format. 

